.dokuwiki {
	margin: 0;
	/*margin: 0 auto -10px auto;*/ /* держать по центру */
	/*max-width: 1600px;*/ /* компам не давать растягивать */
	/*min-width: 900px;*/ /* смартам не давать кукожить */
	width: 100%;
}
header {
	.logo {
		position: absolute;
		right: 1px;
		top: 1px;
		z-index: 1;
		&.april {
			left: 1px;
			right: auto;
		}
		[dir=rtl] & {
			left: 1px;
			right: auto;
			&.april {
				right: 1px;
				left: auto;
			}
		}
	}
	.menu {
		-webkit-appearance: none;
		height: 28px;
		letter-spacing: 0.05em;
		padding: 0 0 0 7px !important;
		position: relative;
		text-shadow: 1px 1px 2px black;
		width: auto;
		word-wrap: break-word;
		z-index: 0;
		&.logo-0 {
			background: #22979E;
		}
		&.logo-1 {
			background: #829DD3;
		}
		&.logo-2 {
			background: #EDB1BB;
			a:hover {
				color: #0FF !important;
			}
		}
		&.logo-3 {
			background: #A387C1;
		}
		&.logo-4 {
			background: #E183BD;
		}
		&.logo-5 {
			background: #E9B630;
			a:hover {
				color: #0FF !important;
			}
		}
		&.logo-6 {
			background: #45A2C4;
		}
		&.logo-7 {
			background: #AD464A;
		}
		&.logo-8 {
			background: #89E081;
		}
		&.april {
			a {
				position: relative;
				top: -2px;
			}
		}
		a {
			color: white !important;
			font: bold 15px DatFestComic, cursive;
			&:hover {
				color: #FF0 !important;
			}
		}
	}
	.searcher {
		display: inline;
		input#qsearch__in {
			font-size: 120% !important;
			margin: -7px 0 0 10px;
			max-width: 200px;
			min-width: 50px;
			width: 20%;
			[dir=rtl] & {
				margin: -7px 10px 0 0;
			}
		}
		button {
			border-radius: 5px;
			font-size: 13px;
			margin: 4px 0 0 4px;
			[dir=rtl] & {
				margin: 4px 4px 0 0;
			}
		}
	}

}
nav.translation {
	min-height: 28px;
	div.plugin_translation {
		font-family: DatFestComic;
		font-size: 120%;
		ul {
			li {
			margin: 0 1px;
			}
		}
	}
}
#translabel {
	min-height: 21px;
}
article.page {
	border-bottom: 1px dashed #EEE;
	font-family: "Trebuchet MS", "Bitstream Vera Sans", "Nimbus Sans L", sans-serif;
	line-height: 1.5em;
	margin: 0 37px 0 7px;
	position: relative;
	text-align: justify;
	&::after {
		background-image: url(images/logo.png);
		content: "";
		height: 100%;
		left: 0;
		opacity: 0.03;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: -1;
	}
	h1/*,h2,h3,h4,h5*/ {
		&:nth-child(1) {
			padding: 0;
		}
	}
	h5:nth-child(1) {
		margin: 0;
	}
	[dir=rtl] & {
		margin: 0 7px 0 37px;
	}
}
footer {
	clear: both;
	div.breadcrumbs {
		clear: both;
		font-size: 8pt;
		padding: 4px 10px;
	}
	.googleplay {
		float: left;
		left: 25px;
		position: relative;
		z-index: 1;
		img {
			bottom: 5px;
			height: 48px;
			margin-bottom: -9px;
		}
	}
	.count {
		float: right;
		position: relative;
		right: 30px;
		z-index: 1;
		.ym-advanced-informer {
			border: 0;
			height: 31px;
			margin-top: 4px;
			width: 88px;
		}
		noscript {
			img {
				left: -9999px;
				position: absolute;
			}
		}
	}
	.social {
		position: relative;
		right: 36px;
		text-align: center;
		a {
			text-decoration: none !important;
			&:not(:first-child) {
				margin-left: 3px;
			}
			img {
				opacity: 0.6;
				width: 32px;
				&:hover {
					opacity: 1;
				}
				&[alt="Twitter"] {
					border: 1px solid #ddd;
					border-radius: 5px;
					position: relative;
					top: 1px;
				}
			}
		}
	}
	.pageinfo,
	.user {
		clear: both;
		font-size: .8em;
		padding-top: .2em;
		position: relative;
		right: 17px;
		text-align: center;
	}
}
