.font-face ( @font ) {
	font-display: swap;
	src:	url('fonts/@{font}.eot');										/* IE9 Compat Modes */
	src:	url('fonts/@{font}.eot?#iefix')	format ( 'embedded-opentype' ),	/* IE6-IE8 */
			url('fonts/@{font}.otf')		format ( 'opentype' ),			/* Open Type Font */
			url('fonts/@{font}.ttf')		format ( 'truetype' ),			/* Safari, Android, iOS */
			url('fonts/@{font}.svg#main')	format ( 'svg' ),				/* Legacy iOS */
			url('fonts/@{font}.woff')		format ( 'woff' ),				/* Modern Browsers */
			url('fonts/@{font}.woff2')		format ( 'woff2' );				/* Modern Browsers */
}

@font-face {
	font-family: AnimeAce; 			.font-face ( anime_ace )
}
@font-face {
	font-family: Axolotl;			.font-face ( axolotl_comic )
}
@font-face {
	font-family: DatFestComic;		.font-face ( dat_fest_comic )
}
@font-face {
	font-family: DSP Fetcher;		.font-face ( dsp_fetcher )
}
@font-face {
	font-family: StrippedClone;		.font-face ( stripped_clone )
}
@font-face {
	font-family: LisichkaComic;		.font-face ( lisichka )
}
@font-face {
	font-family: ClaWrite;			.font-face ( nest_clawrite )
}
@font-face {
	font-family: Impact;			.font-face ( impact )
}
@font-face {
	font-family: KBLuckyCloverCyr;	.font-face ( kbluckyclovercyr )
}
@font-face {
	font-family: Tengwar Annatar;	.font-face ( tengvar_annatar )
}
@font-face {
	font-family: FontAwesome;		.font-face ( font_awesome )
}

.aace {
	font-family: AnimeAce,			cursive
}
.axol {
	font-family: Axolotl,			cursive
}
.fest {
	font-family: DatFestComic,		cursive
}
.dspf {
	font-family: DSP Fetcher,		cursive
}
.stri {
	font-family: StrippedClone,		cursive
}
.lisi {
	font-family: LisichkaComic,		cursive
}
.claw {
	font-family: ClaWrite,			cursive
}
.impt {
	font-family: Impact,			cursive
}
.lucl {
	font-family: KBLuckyCloverCyr,	cursive
}
.tean {
	font-family: Tengwar Annatar,	cursive
}
.fawe {
	font-family: FontAwesome,		cursive
}

.aace,.axol,.fest,.dspf,.stri,.lisi,.claw,.impt,.lucl,.tean,.fawe {
	-webkit-appearance: none;
	word-wrap: break-word;
}

.flo {
	color: #866444
}
.sam {
	color: #4B70BB
}
.hlx {
	color: #8A796F
}
.saw {
	color: #FE2E06
}
.qwe {
	color: #5E3432
}
.dvo {
	color: #696A00
}
.edge {
	color: #3F5537
}
.blunt {
	color: #554E37
}
.max {
	color: #242424
}
.rai {
	color: #106A10
}
.kor {
	color: #005263
}
.mad {
	color: #333333
}
.mayor {
	color: #491D31
}
.mhlp {
	color: #493025
}
.niomi {
	color: #49211D
}
.pol {
	color: #10106A
}
.mst1 {
	color: #CE5200
}
.mst {
	color: #CE5200
}
.bow {
	color: #C7AE1A
}
.ish {
	color: #4A3110
}
.oth {
	color: black
}
.znt {
	color: #1E90FF
}
.ozy {
	color: #404040
}
.mil {
	color: #EE7000
}
.mol {
	color: #700070
}
.tsp {
	color: #BB81CE
}
.rrp {
	color: #A9A9A9
}
.rdp {
	color: #006BFF
}
.fsp {
	color: #CEC343
}
.ppp {
	color: #DE2E76
}
.ajp {
	color: #CA9954
}
.sdr {
	color: #258B01
}
.bmp {
	color: #DE6E56
}

.aace,.axol,.fest,.dspf,.stri,.lisi,.claw,.impt,.lucl,.tean,.fawe,
.f06,.f07,.f08,.f09,.f10,.f11,.f12,.f13,.f14,.f15,.f16,.f17,.f18,.f19,.f20,.f21,.f22,.f23,.f24,.f25,.f26,.f27,.f28,.f29,.f30, .f31,.f32,.f33,
.f34,.f35,.f36,.f37,.f38,.f39,.f40,.f41,.f42,.f43,.f44,.f45,.f46,.f47,.f48,.f49,.f50,.f51,.f52,.f53,.f54,.f55,.f56,.f57,.f58,.f59,.f60,
.flo,.sam,.hlx,.saw,.qwe,.dvo,.edge,.blunt,.max,.rai,.kor,.mad,.mayor,.mhlp,.niomi,.pol,.mst1,.mst,.bow,.oth,
.znt,
.ozy,.mil,
.mol,.tsp,.rrp,.rdp,.fsp,.ppp,.ajp,.sdr,.bmp {
	display: inline;
}
.mirx,
.miry {
	display: inline-block;
}
.mirx,
.mirx img {
	transform: scaleX(-1);
	filter: FlipH;
}
.miry,
.miry img {
	transform: scaleY(-1);
	filter: FlipV;
}
.vyleft,.vyjust,.vyright {
	margin-top: -0.5em; /* фикс из-за вкладывания в параграф */
}
.vyleft {
	float: left;
	text-align: left !important;
}
.vyjust {
	float: left;
	text-align: justify !important;
}
.vyright {
	float: right;
	text-align: right !important;
}
.vycenter {
	margin: 0 auto;
	text-align: center !important;
	.notetip& {
		padding: 15px 20px 15px 40px;
	}
}

@keyframes mor {
	50% {
		visibility: hidden;
	}
	100% {
		visibility: hidden;
	}
}
.anim_mor {
	animation: mor .5s linear infinite;
}
