#mediamanager__page {
	min-width: 800px;
	width: 100%;
	text-align: left;
	h1 {
		margin: 0 0 .2em;
	}
	.panel {
		float: left;
	}
	.namespaces {
		width: 15%;
		min-width: 120px;
		h2 {
			font-size: 1em;
			display: inline-block;
			border-width: 0;
			padding: 0 .5em;
			margin: 0 .3em 0 0;
			border-radius: .5em .5em 0 0;
			font-weight: normal;
			background-color: __background_alt__;
			color: __text__;
			line-height: 1.5em;
		}
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			ul {
				margin-left: 1em;
				li {
					margin: 0;
				}
			}
			.selected {
				background-color: __highlight__;
				font-weight: bold;
			}
		}
	}
	.filelist {
		width: 50%;
		min-width: 400px;
		ul {
			padding: 0;
			margin: 0;
			&.tabs {
				li {
					strong {
						padding: 0 .5em;
						margin: 0 5px 0 0;
					}
					a {
						padding: 0 .5em;
						margin: 0 5px 0 0;
					}
				}
			}
		}
		.panelContent {
			ul {
				li:hover {
					background-color: __background_alt__;
				}
			}
		}
		li {
			dt {
				a {
					vertical-align: middle;
					display: table-cell;
					overflow: hidden;
				}
			}
		}
		.thumbs {
			li {
				width: 100px;
				min-height: 130px;
				display: inline-block;
				display: -moz-inline-stack;
				/* the right margin should visually be 10px, but because of its inline-block nature the whitespace inbetween is about 4px more */
				margin: 0 6px 10px 0;
				background-color: __background_neu__;
				color: __text__;
				padding: 5px;
				vertical-align: top;
				text-align: center;
				position: relative;
				line-height: 1.2;
				dt {
					a {
						width: 100px;
						height: 90px;
						img {
							max-width: 90px;
							max-height: 90px;
						}
					}
				}
				.name,
				.size,
				.filesize,
				.date {
					display: block;
					font-size: 90%;
					margin: 0;
					overflow: hidden;
					text-overflow: ellipsis;
					width: 90px;
					white-space: nowrap;
				}
				.name {
					padding: 5px 0;
					font-weight: bold;
				}
				.date {
					font-style: italic;
					white-space: normal;
				}
			}
		}
		.rows {
			li {
				list-style: none;
				display: block;
				position: relative;
				max-height: 50px;
				margin: 0;
				margin-bottom: 3px;
				background-color: __background__;
				color: __text__;
				overflow: hidden;
				&:nth-child(2n+1) {
					background-color: __background_neu__;
				}
				dt {
					float: left;
					width: 10%;
					height: 40px;
					text-align: center;
					a {
						width: 100px;
						height: 40px;
						img {
							max-width: 40px;
							max-height: 40px;
						}
					}
				}
				.name,
				.size,
				.filesize,
				.date {
					overflow: hidden;
					text-overflow: ellipsis;
					float: left;
					margin-left: 1%;
					white-space: nowrap;
				}
				.name {
					width: 30%;
					font-weight: bold;
				}
				.size,
				.filesize {
					width: 15%;
				}
				.date {
					width: 20%;
					font-style: italic;
					white-space: normal;
				}
			}
		}
	}
	.file {
		width: 35%;
		min-width: 280px;
		display: contents;
		ul.tabs {
			li {
				strong {
					padding: 0 .5em;
					margin: 0 5px 0 0;
				}
				a {
					padding: 0 .5em;
					margin: 0 5px 0 0;
				}
			}
		}
		.panelHeader,
		.panelContent {
			margin-right: 0;
		}
		#mediamanager__diff {
			table {
				table-layout: fixed;
			}
			td,
			th {
				width: 48%;
				margin: 0 5px 10px 0;
				padding: 0;
				vertical-align: top;
				text-align: left;
			}
			th {
				font-weight: normal;
				a {
					font-weight: bold;
				}
				span {
					font-size: 90%;
				}
			}
			dl {
				dd {
					strong {
						background-color: __highlight__;
						color: __text__;
						font-weight: normal;
					}
				}
			}
			div.slider {
				margin: 10px;
				width: 95%;
			}
			.imageDiff {
				position: relative;
				.image2 {
					position: absolute;
					top: 0;
					left: 0;
				}
				&.opacity {
					.image2 {
						opacity: 0.5;
					}
				}
				&.portions {
					.image2 {
						border-right: 1px solid red;
						overflow: hidden;
					}
					img {
						float: left;
					}
				}
				img {
					width: 100%;
					max-width: none;
				}
			}
			[dir=rtl] & td,
			[dir=rtl] & th {
				text-align: right;
			}
		}
		div.image {
			margin-bottom: 5px;
			text-align: center;
			img {
				width: 100%;
			}
		}
		ul.actions {
			text-align: center;
			margin: 0 0 5px;
			list-style: none;
			li {
				display: inline;
			}
		}
		dl {
			dt {
				font-weight: bold;
				display: block;
				background-color: __background_alt__;
				width: calc(~"50% - "2px);
				float: left;
				text-align: right;
				padding-right: 2px;
			}
			dd {
				display: block;
				background-color: __background_neu__;
				width: calc(~"50% - "2px);
				float: right;
				margin: 0;
				padding-left: 2px;
			}
		}
		form.diffView {
			margin-bottom: 10px;
			display: block;
		}
	}
	.panelHeader {
		background-color: __background_alt__;
		margin: 0 10px 0 0;
		padding: 5px;
		text-align: left;
		min-height: 20px;
		overflow: hidden;
		h3 {
			float: left;
			font-weight: normal;
			font-size: 1em;
			padding: 0;
			margin: 0;
		}
		form.options {
			float: right;
			.ui-buttonset {
				label {
					font-size: 90%;
					margin-right: -0.4em;
				}
				.ui-button-text {
					padding: .4em .7em;
					line-height: 1;
				}
			}
		}
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				color: __text__;
				float: left;
				line-height: 1;
				padding-left: 3px;
				&.listType {
					padding-left: 30px;
					background: url(../../images/icon-list.png) 3px 1px no-repeat;
				}
				&.sortBy {
					padding-left: 30px;
					background: url(../../images/icon-sort.png) 3px 1px no-repeat;
				}
			}
		}
	}
	.panelContent {
		overflow-y: auto;
		overflow-x: hidden;
		padding: 0;
		margin: 0 10px 0 0;
		position: relative;
	}
	.ui-resizable-e {
		width: 6px;
		right: 2px;
		background: transparent url(../../images/resizecol.png) center center no-repeat;
		&:hover {
			background-color: __background_alt__;
		}
	}
	div.upload {
		padding-bottom: 0.5em;
		#mediamanager__uploader {
			border-bottom: 1px solid __border__;
			padding-bottom: 0.5em;
		}
	}
	form.meta {
		div.row {
			margin-bottom: 5px;
		}
		label {
			span {
				display: block;
			}
		}
		input {
			width: 50%;
			&.button {
				width: auto;
			}
		}
		textarea.edit {
			height: 6em;
			width: 95%;
		}
	}
	form.changes {
		ul {
			margin: 0;
			list-style-type: none;
			li {
				div.li {
					div {
						font-size: 90%;
						color: __text_neu__;
						padding-left: 18px;
					}
					input {
						position: relative;
						top: 1px;
					}
				}
			}
		}
	}
	[dir=rtl] & {
		.namespaces {
			text-align: right;
			h2 {
				margin-right: 10px;
			}
			ul {
				ul {
					margin-left: 0;
					margin-right: 1em;
				}
			}
		}
		.filelist {
			ul.tabs {
				margin-right: 10px;
			}
			.thumbs {
				li {
					margin-right: 0;
					margin-left: 6px;
				}
			}
		}
		.panelContent {
			text-align: right;
		}
		form.meta {
			label {
				span {
					text-align: right;
				}
			}
		}
	}
}

/* */

#media__manager {
	height: 100%;
	overflow: hidden;
	h1 {
		margin: 0;
		padding: 0;
		margin-bottom: 0.5em;
	}
	#media__left {
		width: 30%;
		border-right: solid 1px __border__;
		height: 100%;
		overflow: auto;
		position: absolute;
		left: 0;
		#media__opts {
			padding-left: 1em;
			margin-bottom: 0.5em;
			input {
				float: left;
				display: block;
				margin-top: 4px;
				position: absolute;
			}
			label {
				display: block;
				float: left;
				margin-left: 20px;
				margin-bottom: 4px;
			}
			br {
				clear: left;
			}
		}
		#media__tree {
			ul {
				list-style-type: none;
				list-style-image: none;
				margin-left: 1.5em;
				[dir=rtl] & {
					margin-left: 0;
					margin-right: 1.5em;
				}
				li {
					clear: left;
					list-style-type: none;
					list-style-image: none;
					[dir=rtl] & {
						clear: right;
					}
					img {
						[dir=rtl] & {
							float: right;
						}
					}
					div.li {
						display: inline-block;
						margin: 3px 0 0 0.3em;
						[dir=rtl] & {
							margin: 3px 0.3em 0 0;
						}
						a.idx_dir {
	/*						strong {*/
								background-color: white;
								border: 1px solid __dark__;
								border-radius: 5px;
								box-shadow: 0 0 3px 1px __dark__;
								padding: 2px 5px;
	/*						}*/
						}
					}
				}
			}
		}
	}
	#media__right {
		width: 69.7%;
		height: 100%;
		overflow: auto;
		position: absolute;
		right: 0;
		#media__content {
			div.upload {
				font-size: 90%;
				padding: 0 0.5em 0.5em 0.5em;
			}
			#mediamanager__uploader {
				display: block;
				border-bottom: solid 1px __border__;
				padding: 0 0.5em 1em 0.5em;
				form#dw__upload {
					border-bottom: 0;
					fieldset {
						padding: 0;
						margin: 0;
						border: none;
						width: auto;
					}
					p {
						text-align: left;
						padding: 0.25em 0;
						margin: 0;
						line-height: 1.0em;
					}
					label.check {
						float: none;
						width: auto;
						margin-left: 11.5em;
					}
				}
			}
			.odd {
				background-color: __background_other__;
			}
			.even,
			.odd {
				padding: 0.4em;
				a.select {
					cursor: pointer;
				}
				a.mediafile {
					margin-right: 1.5em;
					font-weight: bold;
				}
				img.btn {
					vertical-align: text-bottom;
				}
				div.example {
					color: __text_neu__;
					margin-left: 1em;
				}
				div.detail {
					padding: 0.3em 0 0.3em 2em;
					div.thumb {
						float: left;
						width: 130px;
						text-align: center;
						margin-right: 0.4em;
					}
				}
			}

/* сильнее уточнить местоположение вот этих не удалось */
			img.load {
				margin: 1em auto;
			}
			#scroll__here {
				border: 1px dashed __border__;
			}
			form.meta {
				display: block;
				padding: 0 0 1em 0;
				label {
					display: block;
					width: 25%;
					float: left;
					font-weight: bold;
					margin-left: 1em;
					clear: left;
				}
				.edit {
					font: 100% "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
					float: left;
					width: 70%;
					padding-right: 0;
					padding-left: 0.2em;
					margin: 2px;
				}
				textarea.edit {
					height: 8em;
				}
				div.metafield {
					clear: left;
				}
				div.buttons {
					clear: left;
					margin-left: 20%;
					padding-left: 1em;
				}
			}
		}
	}
}

/* */

#media__popup_content {
	padding: .3em;
	p {
		text-align: end;
		button {
			height: 21px;
			width: 26px;
			&.button {
				padding: .125em .2em;
				margin-left: 4px;
			}
			&.selected {
				background-color: #ddd;
			}
		}
		input.button {
			background-image: linear-gradient(to bottom, #CCFFBB, #AADD99);
			border-radius: 5px;
			float: right;
			&:hover {
				background-image: linear-gradient(to bottom, #CCFFBB, #88BB77);
			}
		}
	}
}

/* */

.qq-uploader {
	position: relative;
	width: 100%;
	.error {
		color: #f00;
		background-color: #fff;
	}
	li {
		margin-bottom: 5px;
		color: __text__;
		span,
		input,
		a {
			margin-right: 5px;
		}
	}
}

.qq-upload-button {
	display: inline-block;
	border: 1px solid __border__;
	color: __text__;
	text-decoration: none;
	font-size: 100%;
	cursor: pointer;
	margin: 1px 1px 5px;
	padding: 0.125em 0.4em;
}

.qq-upload-button-focus {
	outline: 1px dotted;
}

.qq-upload-drop-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-height: 70px;
	z-index: 2;
	background: __background_neu__;
	color: __text__;
	text-align: center;
	span {
		display: block;
		position: absolute;
		top: 50%;
		width: 100%;
		margin-top: -8px;
		font-size: 120%;
	}
}

.qq-upload-drop-area-active {
	background: __background_alt__;
}

div.qq-uploader ul {
	margin: 0;
	list-style: none;
}

.qq-upload-file {
	display: block;
	font-weight: bold;
}

.qq-upload-spinner {
	display: inline-block;
	background: url(../../../images/throbber.gif);
	width: 15px;
	height: 15px;
	vertical-align: text-bottom;
}

.qq-upload-size,
.qq-upload-cancel {
	font-size: 85%;
}

.qq-upload-failed-text {
	display: none;
}
.qq-upload-fail .qq-upload-failed-text {
	display: inline;
}

.qq-action-container * {
	vertical-align: middle;
}
.qq-overwrite-check input {
	margin-left: 10px;
}

/* */

article#dokuwiki__detail {
	padding-left: 1em;
	[dir=rtl] & {
		padding-right: 1em;
	}
	div.apps {
		display: none;
	}
	@media (max-width: 800px) {
		div.apps {
			display: block;
			a {
				&:first-child img {
					float: left;
				}
				&:last-child img {
					float: right;
				}
				img {
					width: 50%;
				}
			}
		}
	}
	h1 {
		padding: 1em 0;
	}
	div.img_big {
		float: left;
		[dir=rtl] & {
			float: right;
		}
		p.img_caption {
			text-align: center;
		}
	}
	div.img_detail {
		float: left;
		margin: 0 1em;
		[dir=rtl] & {
			float: right;
		}
		#back {
			font-size: 1.3em;
			margin-top: 0;
			bdi {
				padding-left: .5em;
				position: relative;
				top: 2px;
			}
		}
		dl.img_tags {
			dd {
				background-color: __medium__;
				font-style: italic;
			}
			dt {
				background-color: __lightgray__;
				display: inline-block;
				font-weight: bold;
				margin-top: 0.5em;
			}
			dd, dt {
				line-height: 2;
				padding: 0 1em;
			}
		}
	}
}
