#dw__register,
#dw__login,
#dw__resendpwd,
#dw__profiledelete {
	fieldset {
		legend {
			background-color: white;
			border: 1px solid __dark__;
			border-radius: 5px;
			box-shadow: 0 0 3px 1px __dark__;
			padding: 2px 5px;
		}
		button,
		#plugin__captcha_wrapper {
			border-radius: 5px;
			padding: 3px 5px;
		}
	}
}
#dw__register,
#dw__login,
#dw__resendpwd {
	button[type=submit] {
		background-image: linear-gradient(to bottom, #CCFFBB, #AADD99);
		&:hover {
			background-image: linear-gradient(to bottom, #CCFFBB, #88BB77);
		}
	}
}

#dw__login {
	input#remember__me {
		vertical-align: middle;
	}
}
#dw__profiledelete {
	display: block;
	margin-top: 4px;
	fieldset {
		legend {
			color: red;
		}
	}
	#dw__confirmdelete {
		vertical-align: middle;
		+ span {
			color: red;
			font-weight: 600;
		}
	}
	.block {
		color: red;
		padding-top: 10px;
	}
	button {
		color: red;
		font-weight: 600;
	}
}
